@import "../../../../styles/core.scss";

:host {
    .layout-breadcrumb ::ng-deep {
        background-color: #ffffff;
        box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
        min-height: 42px;

        ul {
            margin: 8px 0 0 0;
            padding: 0 0 0 20px;
            list-style: none;
            color: $color-text-secondary;
            display: inline-block;

            li {
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
                color: $color-text-secondary;

                &:first-child(even) {
                    color: $color-primary;
                }

                a {
                    color: $color-text-secondary;
                }
            }
        }

        .layout-breadcrumb-options {
            float: right;
            padding: 0px 20px 0 0;
            height: 100%;

            a {
                color: $color-text-secondary;
                display: inline-block;
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                transition: $transition-duration background-color ease;

                &:hover {
                    background-color: $color-background-hover;
                }

                i {
                    line-height: inherit;
                }
            }
        }
    }
}