@import '../../../../../styles/core.scss';
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 4px 15px 4px 10px;
    transition: 0.5s;
    color: black;

    .link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 10px 10px 10px;

        &--active:not(.child-item) {
            background-color: $color-primary;
            border-radius: 5px;
        }

        &--child {
            background-color: rgba(36, 50, 59, 0.5);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &-active {
                background-color: $color-primary;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .arrow {
            margin-right: 20px;
        }
    }
}

ul.child-list {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .child-item {
        &:last-of-type li .link {
            border-radius: unset;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        li {
            margin: 0;

            &.active {
                color: #9CCC65;
            }

            .link {
                padding-left: 20px;
                border-radius: unset;

                &--active {
                    color: #9CCC65;
                    background-color: transparent;

                    &:hover {
                        background-color: rgba(36, 50, 59, 0.5);
                    }
                }
            }
        }
    }
}