<div class="container">
  <div class="header">
    <div class="exhauster-status"></div>
    <div class="exhauster-name">Эксгаустер ...</div>
    <button class="exhauster-button">></button>
  </div>
  <div class="content">
    <div class="rotor-info">
      <div class="title">Ротор ...</div>
      <div class="date">00.00.0000</div>
    </div>
    <hr>
    <div class="title">Последняя замена ротора</div>
    <div class="prediction-container">
      <div class="rotor-being-used">10 сут</div>
      <div class="prediction">
        <div class="text">Прогноз</div>
        <div class="days">3 сут</div>
      </div>
    </div>
    <p-accordion [multiple]="true">
      <p-accordionTab header="Предупреждение">
        <div class="bearing-info">
          <div class="bearing-name">
            п-к №7
          </div>
          <div class="bearing-metrics">
            <div class="bearing-metric">

            </div>
          </div>
        </div>
        <div class="bearing-info">
          <div class="bearing-name">
            п-к №7
          </div>
          <div class="bearing-metrics">
            <div class="bearing-metric">

            </div>
          </div>
        </div>
        <div class="bearing-info">
          <div class="bearing-name">
            п-к №7
          </div>
          <div class="bearing-metrics">
            <div class="bearing-metric">

            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Все подшипники">
        <div class="bearing-info">
          <div class="bearing-name">
            п-к №7
          </div>
          <div class="bearing-metrics">
            <div class="bearing-metric">

            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
