<p-tabView>
  <p-tabPanel header="Мнемосхема">
    <div class="wrapper">
      <div *ngFor="let bearing of bearingsHardCode; let index = index">
        <app-baering-info [index]="index" [modelBearingInfo]="bearing">
        </app-baering-info>
      </div>
      <app-image src="assets/img/manipulation/Content.svg"> </app-image>

      <app-progress-bar
        class="maslobak"
        [value]="maslobak"
        label="уровень масла, %"
        [scaleStep]="20"
      ></app-progress-bar
      ><app-progress-bar
        class="temperature"
        [value]="temperature"
        label="температура газа, °C"
        [scaleStep]="10"
        [maxScale]="200"
        [isScale]="false"
      ></app-progress-bar>
      <app-progress-bar
        class="pressure"
        [value]="pressure"
        label="температура газа, °C"
        [scaleStep]="1"
        [maxScale]="6"
        [isScale]="true"
      ></app-progress-bar>

      <div class="values amperage">
        {{mainDriveModel.amperage}}
      </div>
      <div class="values motor-amperage">
        {{mainDriveModel.motorAmperage}}
      </div>
      <div class="values rotor-voltage">
        {{mainDriveModel.rotorVoltage}}
      </div>
      <div class="values starter-voltage">
        {{mainDriveModel.starterVoltage}}
      </div>


    </div>
  </p-tabPanel>
  <p-tabPanel header="График">
    <app-bar-graph></app-bar-graph>
  </p-tabPanel>
</p-tabView>
