.wrapper {
  position: relative;

  .maslobak {
    position: absolute;
    left: 915px;
    top: 94px;
  }

  .temperature {
    position: absolute;
    top: 182px;
    left: 455px;

    ::ng-deep {
      .progress-bar {
        width: 159px;
        height: 45px;

        .line {
          height: 30px;
          background: rgb(180, 185, 185);
        }
      }
    }
  }

  .pressure {
    position: absolute;
    top: 214px;
    left: 1380px;

    ::ng-deep {
      .progress-bar {
        width: 231px;
      }
    }
  }
}
p-tabView ::ng-deep {
  .p-tabview-nav {
    float: right;
    margin-bottom: 25px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 4px;

    li.p-highlight .p-tabview-nav-link {
      background-color: rgb(240, 187, 78);
      color: #000 !important;
      border-radius: 5px;
      border: 0px;
    }

    li a {
      padding: 15px 10px !important;
      height: 20px;
      color: rgb(240, 187, 78) !important;
      border: 0px !important;
    }
  }

  .values {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: rgb(68, 79, 79);
    color: #fff;
    font-weight: 600;
    padding: 0px 5px;
    font-size: 14px;
    border-radius: 4px;
  }

  .amperage {
    top: 330px;
    left: 1336px;
  }

  .motor-amperage {
    top: 354px;
    left: 1336px;
  }

  .rotor-voltage {
    top: 377px;
    left: 1336px;
  }

  .starter-voltage {
    top: 399px;
    left: 1336px;
  }
}
