$font-size: 14px;
$font-family: "Roboto", "Helvetica Neue", sans-serif;
$line-height: 18px;
$border-radius: 3px;
$transition-duration: 0.3s;
$icon-width: 20px;
$icon-height: 20px;
$icon-font-size: 20px;
$nav-width: 260px;
$nav-offset-min: 180px;

$color-blue: #147df0;
$color-pink: #ed3c76;
$color-green: #3e9018;
$color-red: #da2f31;
$color-orange: #ffb200;
$color-teal: #599597;
$color-purple: #633ea5;
$color-black: #000000;
$color-yellow: #ffd644;
$color-grey: #757575;
$color-accent: #87a6bb;
$color-primary: #FAB82E;

$color-text: #212121;
$color-text-secondary: #757575;

$color-background-hover: #e8e8e8;
$color-text-hover: #000000;

$color-divider: #dbdbdb;
$color-divider-light: #f8f8f8;

$color-layout: #f5f5f5;
$color-sidemenu: #334d6c;

$topbarSubmenuHoverBgColor: #f1f2f7;
$topbarMobileMenuBgColor: #ffffff;
$mobileBreakpoint: 1024px;
$contentMobileMaskBgColor: #424242;
